.Ui {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin-top: 5rem;
}

.Ui h3 {
  margin: 0;
}

.uiTopBar {
  display: flex;
  align-items: center;
  height: 1.2rem;
  justify-content: space-between;
}

.uiBottomBar {
  display: flex;
  align-items: center;
  height: 1.2rem;
  justify-content: flex-end;
  margin-top: 1rem;
}

.uiBottombar button {
  display: flex;
}

.topBarRight {
  display: flex;
}

.Ui button {
  margin-left: 0.5rem;
  background-color: white;
  border: #cacaca solid 1.5px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(177, 177, 177);
}
table {
  border-collapse: collapse;
  margin-top: 2rem;
}
table td {
  border: 1px solid black;
  text-align: center;
}
table td > div {
    display: flex;
    align-items: center;
}

td > div > p {

  margin-left: 1rem;
  margin-right: 1rem;
}

.mark, .lessThanOneMinute, .arrow_downward, .arrow_forward, .arrow_upward {
    background-color: rgba(255, 0, 85, 0.2);
    border: 1px solid #cacaca
}


.emptyEntry {
    background-color:  rgba(255, 0, 85, 0.329);
}

.material-icons  {
    display: flex;
    align-items: center;
    height: 1.5rem;
    margin-right: 3px;
}

.arrow_downward, .arrow_forward {
    margin-left: 3px;
}

.tableContent {
  display: flex;
  justify-content: space-between;
}

.rightTableContent {
  display: flex;
  align-items: center;
  width: 120px;
  justify-content: flex-end;
}

.innerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem; 
}

.material-icons .mode_edit  {
  background: white !important;
}

.mode_edit:hover, .delete:hover {
  cursor: pointer;
  background-color: rgb(177, 177, 177);
}

.upwardArrowDiv {
  width: 32px;
}

.leftDownArrowDiv {
  width: 56px;
  background-color: white;
}

.arrowForwardDownwardDiv {
  width: 32px;
}

.titleDiv {
  width: 10rem;
  justify-content: center;
}

.titleDiv .pDiv {
  display: inline-block
}